/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-align: center;

    font-family: "Lato", sans-serif;
}

/* Generics */
img{
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

/* Background */
.background {
    height: 100vh;
    background: linear-gradient(#009688 15%, #d6dbd7 15%);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Window */
.window{
    height: 95vh;
    width: 80vw;
    background-color: white;

    display: flex;

    box-shadow: 0 0 5px 1px #2222;
}

/* Side Nav */
.sidenav{
    flex-basis: 35%;

    display: flex;
    flex-direction: column;
}

/* Side Nav Header */
.sidenav header{
    min-height: 75px;
    background-color: #eaeaea;
    border-right: 1px solid lightgray;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left-side{
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar{
    height: 40px;
    width: 40px;
}

.avatar img{
    border-radius: 50%;
}

header .right-side{
    display: flex;
    align-items: center;
}

.right-side .icons{
    display: flex;
    gap: 10px;
    color: #b1b1b1;
}

/* Side Nav Banner */

.sidenav .banner{
    min-height: 75px;
    background-color: #8edafc;
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.bell-icon{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bell-icon i{
    font-size: 1.5rem;
    color: #8edafc;
}

.sidenav .banner .text{
    text-align: left;
}

.sidenav .banner .text a{
    color: darkgray;
    text-decoration: underline;
}


/* Side Nav Search */
.sidenav .search {
    min-height: 60px;
    background-color: #eaeaea;

    padding: 10px;
}

.sidenav .search-bar{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.search-bar i{
    padding: 10px;
    color: #b1b1b1;
    border-right: 1px solid lightgray;

    flex-basis: 15%;
}

.search-bar input{
    border: none;
    width: 80%;
    text-align: start;
    padding: 5px;
}

/* Side Nav Contacts */
.sidenav .contacts{
    background-color: #ffffff;

    flex-grow: 1;
    overflow-y: auto;

}

.contacts .card{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}

.contacts .card.active{
    background-color: #e9ebeb;
}

.contacts .card .left-side{
    display: flex;
    gap: 20px;
}

.contacts .card .preview{
    text-align: start;
}

.contacts .card .preview .last-text{
    font-size: 0.85rem;
    color: lightgray;
    text-align: start;
}

.contacts .card time{
    align-self: flex-start;
    color: lightgray;
    font-size: 0.7rem;
}

/* Chat Section */
.chat{
    flex-basis: 65%;
    background-color: blue;

    display: flex;
    flex-direction: column;

}

.chat header{
    min-height: 75px;
    background-color: #eaeaea;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Chat Content */

.chat > .content{
    background-image:url("../img/mine.png");
    overflow-y: auto;

    flex-grow: 1;
    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.message {
    min-height: 40px;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    gap: 80px;
}

.message.sent{
    align-self: flex-end;
    background-color: #d5f9ba;
}

.message.received{
    align-self: flex-start;
    background-color: white;
}


.message .text{
    align-self: center;
}

.message time{
    font-size: 0.5rem;
    align-self: flex-end;
}


.chat footer{
    background-color: #f3eeea;
    min-height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message-input-bar{
    flex-basis: 80%;
}

.message-input-bar input{
    width: 100%;
    min-height: 30px;
    border: none;
    border-radius: 5px;
    text-align: start;
    padding: 10px;
}

.offset{
    min-height: 50px;
}